body {
	max-width: 600px;
	min-width: 320px;
	margin: 0 auto;
	border: 1px solid blue;
	/* background: #1c92d2;  fallback for old browsers */
	/* background: linear-gradient(to top, #f2fcfe, #1c92d2);  */
}
.header {
	text-align: center;
}
.medias audio {
	width: 320px;
}
.data caption {
	caption-side: top;
	text-align: center;
	font-weight: bold;
}
